@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import 'welcome';
@import 'navbar';
@import 'allevents';
@import 'alleventsloggedin';
@import 'event';
@import 'eventscreation';
@import 'eventsprofile';
@import 'userprofile';
@import 'loading';
@import 'footer';

html, body {
	font-family: 'Nunito', sans-serif;
	background-color: #fafafa;
	overflow-x: hidden;
}

.row {
	margin: 0;
}

/*Tabs*/
.tabs {
	padding-top: 64px;
}
/*Tabs*/

footer {
	margin: 50px 0;
}

.welcome-span {
	margin: auto;
}

.example-appear {
	opacity: 0.01;
}

.example-appear.example-appear-active {
	opacity: 1;
	transition: opacity .9s ease-in;
}
.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 3s ease-in;
}

.note{
	margin: 17px 0px 0px 0px;
}

.message{
	margin-left: 50px;
}

.icon {
	position: relative;
	.button {
		position: absolute;
	}
	.accept{
		background: green !important;
		padding: 12px;
		height: 30px;
		bottom: 52px;
		left: -5px;
		color: #fafafa !important;
	}
	.reject{
		background: tomato !important;
		height: 30px;
		padding: 12px;
		bottom: 2px;
		left: -5px;
		color: #fafafa !important;
	}
}

html, body {
    height: 100%;
}