@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import 'welcome';
@import 'navbar';
@import 'allevents';
@import 'alleventsloggedin';
@import 'event';
@import 'eventscreation';
@import 'eventsprofile';
@import 'userProfile';
@import 'loading';
@import 'footer';

html, body {
	font-family: 'Nunito', sans-serif;
	background-color: #fafafa;
	overflow-x: hidden;
}

.row {
	margin: 0;
}

/*Tabs*/
.tabs {
	padding-top: 64px;
}
/*Tabs*/

footer {
	margin: 50px 0;
}

.welcome-span {
	margin: auto;
}

.example-appear {
	opacity: 0.01;
}

.example-appear.example-appear-active {
	opacity: 1;
	transition: opacity .9s ease-in;
}
.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 3s ease-in;
}

.icon {
	display: flex;
	justify-content: space-between;
	.accept{
		background: green !important;
	}
	.reject{
		background: tomato !important;
	}
}
