/*EventsProfile.jsx*/

.carouselProfile {
	margin: 0 auto;
	/*padding-top: 81px;*/
	color: #484848;
	padding-bottom: 10px;
	max-width: 85%;

	@media (max-width: 900px) {
		max-width: 100%;
	}

	.slick-dots {
		bottom: -65px;
	}

	.carouselCardProfile {
		position: relative;
		box-shadow: none;
		border: 1px solid #e6e6e6;
		height: 565px;

		@media (min-width: 2100px) {
			height: 620px;
		}

		@media (max-width: 900px) {
			height: 600px;
		}

		@media (max-width: 800px) {
			height: 560px;
		}

		@media (max-width: 500px) {
			height: 730px;
		}

		@media (max-width: 410px) {
			height: 700px;
		}

		@media (max-width: 380px) {
			height: 650px;
		}

		@media (max-width: 345px) {
			height: 575px;
		}

		.cardUserTitle {

			h5 {
				font-size: 26px !important;
				font-weight: bolder !important;
			}

			p {
				font-size: 16px !important;
			}
		}

		.connectButton {
			position: absolute;
			font-weight: 600;
			background: #007FFF !important;
			bottom: 10px;
			right: 10px;
		}

		.cardHeadline {

			p {
				font-size: 18px;
			}
		}

		button:focus {
			outline: 0;
		}
	}

	.slick-prev:before {
		color: #484848;

		@media (max-width: 900px) {
			display: none;
		}
	}

	.slick-next:before {
		color: #484848;

		@media (max-width: 900px) {
			display: none;
		}
	}
}


/*EventsProfile.jsx*/
