/*EventsCreation.jsx*/

.eventsCreationContainer {
	padding-top: 81px;
	margin: auto;
	width: 50%;
	height: 970px;
	position: relative;

	@media (max-width: 600px) {
		width: 85%;
	}

	.datePicker {

		input:focus {
			transform: scale(0);
		}
	}

	.timePicker {

		input:focus {
			/*transform: scale(0);*/
		}
	}

	.backButton {
		color: #007FFF !important;
		position: absolute;
		bottom: 0px;
	}

	.createButton {
		background: #007FFF !important;
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	button:focus {
		outline: 0;
	}

	.hack {
		display:none;
	}

	.dropzone{
		margin: auto;
		margin-bottom: 36px;
		padding: 20px;
		width: 200px;
		height: 200px;
		border-width: 2px;
		border-color: rgb(102, 102, 102);
		border-style: dashed;
		border-radius: 5px;
	}
}

/*EventsCreation.jsx*/
