/*Footer.jsx*/

.footer {
  padding-top: 90px;

  .footer-image{
  		display: block;
   margin: auto;
   width: 42px;
   height: 42px;
   margin-bottom: 10px;
   cursor: pointer;
  }
}

/*Footer.jsx*/
