.jumbotron {
  margin-top: 74px
}

.theme__subheader___q2l8C{
  margin-top: 10px;
  font-size: 1.8em;
  padding-left: 0px;
}

.userProfile {
  margin-left: 20px;
  margin-right: 20px;
}

.jumbotron .theme__avatar___3OjJz {
  height: 5em;
  width: 5em;
  img {
    height: 5em;
    width: 5em;
  }
}