/*UserProfile.jsx*/

.reactSpan {
	width: 100%;

	.userProfileContainer {
		padding-top: 108px;

		.profileCard {
			position: relative;
			width: 33%;
			float: left;
			left: 48px;
		  -webkit-transition: all 0.2s ease;
		  -moz-transition: all 0.2s ease;
		  -o-transition: all 0.2s ease;
		  transition: all 0.2s ease;
		  z-index: 0;

			&:hover{
				z-index:1000;
			  box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
			  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
			  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
			}

			.avatar {
				/*background: red;*/
			}

			.learnMoreButton {
				position: absolute;
				font-weight: 600;
				background: #007FFF !important;
				bottom: 201px;
				right: 10px;
			}

			.backButton {
				font-weight: 600;
				color: #007FFF;
			}
		}

		.chatCard {
			width: 33%;
			float: right;

			.chatInput {
				width: 80%;
				padding-left: 16px;

				label {
					padding-left: 16px;
				}
			}
		}
	}
}

/*UserProfile.jsx*/
